@use "variables" as v;

.portrait-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .portrait-container .portrait-description {
    flex: 1 1 0;
  }
  
  .portrait {
    flex: 1 1 0;
    min-width: 0;
    img {
        min-width: 0;
        //position: absolute;
        //transform: scaleX(-1);
        width: 100%;
        // top: -30%;
        // right: -150%;
    }
  }
  
  .about-intro {
    font-family: Avenir;
    font-weight: 900;
  }

  @include v.tablet {
    .portrait-container {
      flex-direction: column;
      .portrait-description {
        flex: 1 1 auto;
        width: 100%;
      }
    }
    .portrait {
      flex: 1 1 auto;
      width: 100%;
    }
  }