// .portrait-container {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     .portrait-description {
//         flex: 4;
//     }
//     img {
//         flex: 1;
//         // width: 60%;
//         
//         height: auto;
//     }
// }

.portrait-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .portrait-container .portrait-description {
    flex: 1 1 0;
  }
  
  .portrait {
    flex: 1 1 0;
    min-width: 0;
    img {
        min-width: 0;
        //position: absolute;
        //transform: scaleX(-1);
        width: 100%;
        // top: -30%;
        // right: -150%;
    }
  }
  