#about {
    background: #323232;
    min-height: 90vh;
    h2 {
        margin-left: 5%;
        margin-bottom: 32px;
    }
    .about-container {
        display: flex;
        flex-direction: row;
        margin: 0 5%;
        .about-pic {
            flex:1;
        }
        p {
            flex: 1;
            text-align: justify;
        }
    }
}