#about {
    display: flex;
    flex-direction: column;
    background: #323232;
    min-height: 90vh;
    h2 {
        margin-left: 5%;
        margin-bottom: 32px;
    }
    .about-container {
        display: flex;
        flex-direction: row;
        margin: 0 5%;
        gap:10rem;
        .about-pic {
            flex: 1;
            img {
                width: 100%;
            }
        }
        p {
            flex: 2;
            text-align: justify;
        }
        
    }
}

@media only screen and (max-width: 600px) {
    #about {
        align-items: center;
    }
    .about-container {
        flex-direction: column !important;
        gap:2rem !important;
    }
}