#contact {
    background: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: #f5f2f1;
        margin-left: 5%;
        margin-bottom: 32px;
    }
    &::before {
        height: 0;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    text-align: justify;
    padding-bottom: 5rem;
    p {
        color: #f5f2f1;
        padding-bottom: 32px;
    }
    button{
        position: relative;
        padding: 1em 1.5em;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        font-size: 18px;
        margin: 1em 0.8em;
        align-self: center;

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 20%;
            height: 20%;
            border: 2px solid;
            transition: all 0.6s ease;
            border-radius: 2px;
        }
        

        &::after {
            bottom: 0;
            right: 0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: #282a30;
            border-right-color: #282a30;
        }
        

        &::before {
            top: 0;
            left: 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: #282a30;
            border-left-color: #282a30;
        }
        

        &:hover:after,
        &:hover:before {
            width: 100%;
            height: 100%;
        }
    }
}