footer {
    min-height: 10vh;
    background: #f5f2f1;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style: none;
        img {
            height: 24px;
        }
    }
}