footer {
    min-height: 25vh;
    background: #4D6B6B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    .footer-container {
        display: flex;
        flex-direction: column;
        border: #FFD687 1px solid;
        padding: 4rem 8rem;
        text-align: center;
        gap: 2rem;
        p {
            font-family: 'Inter', sans-serif;
            font-size: 3rem;
        }
        img {
            width: 500px;
        }
    }
}