footer {
    min-height: 25vh;
    background: #4D6B6B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    .footer-container {
        display: flex;
        flex-direction: column;
        border: #FFD687 1px solid;
        padding: 4rem 8rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        p {
            color: #FFD687;
            font-family: 'Inter', sans-serif;
        }
        h3 {
            color: #FFD687;
        }
        img {
            width: 300px;
        }
    }
}

/* Media queries */
@media (max-width: 768px) {
    footer {
        .footer-container {
            padding: 0rem 0rem; /* Adjust padding for smaller screens */
        }
    }
}

@media (max-width: 480px) {
    footer {
        .footer-container {
            padding: 1rem 2rem; /* Adjust padding for even smaller screens */
        }
    }
}