#home{
    &::before {
        height: 0;
    }
}

.nav-container {
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    background-color: #4D6B6B;
    hr {
        background-color: #F6C463;
        width: 95%;
        margin: auto;
        border-width:0;
        height:0.1rem;
    }
}

nav {
    width: 90%;
    margin: auto;
    min-height: 10vh;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    flex: 4;
    height: 80px;
    overflow: hidden;
    align-items: center;
    p {
        font-size: 3rem;
        padding-right: 2rem;
        border-right: 0.1rem solid #F6C463;
        font-family: 'Inter', sans-serif;
        span {
            font-weight: 700;
        }
    }
}

.burger-menu {
    display: none; /* Initially hide the burger menu */
    .line {
        width: 30px;
        height: 3px;
        background-color: #F6C463;
        margin-bottom: 5px;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    flex: 2;
    list-style: none;
    .icon {
        display: none;
    }
}

.hero {
    width: 100%;
    padding: 2% 5% 0 5%;
    min-height: 90vh;
    .hero-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding-right: 5%;
        img {
            width: 60%;
            transform: scaleX(-1);
        }
        .text-overlay {
        position: absolute;
        top: 80%;
        left: 5%;
        color: #F6C463;
        padding: 20px;
        text-align: left;
        transform: translate(-0%, -50%);
        width: 40%;
        p {
            font-family: Didot;
            font-weight: 700;
            font-size: 3rem;
        }
        }
      }
}

// @media only screen and (max-width: 600px) {
//     h1 {
//         font-size: 4rem;
//     }
// }

/* Media queries */
@media (max-width: 768px) {
    .hero {
        .hero-container  {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-right: 5%;
            .text-overlay {
                position: relative;
                top: 0%;
                left: 0%;
                // color: #F6C463;
                padding: 0px;
                // text-align: left;
                transform: translate(-0%, -0%);
                width: 80%;
            }
            img {
                width: 100%;
                transform: scaleX(-1);
            }
            /* CSS rules for screens smaller than or equal to 768px */
        }
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 10vh;
        transform: translate(-0%, 50%);
        flex-direction: column;
        background-color: #4D6B6B;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgb(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

// @media (max-width: 480px) {
//     .hero-container  {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;
//         width: 100%;
//         padding-right: 5%;
//         /* CSS rules for screens smaller than or equal to 480px */
//     }
// }