#home{
    &::before {
        height: 0;
    }
}

.nav-container {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    transition: background-color 0.3s ease;
    a {
        color: #FFE3C8;
    }
    hr {
        background-color: #FFE3C8;
        width: 95%;
        margin: auto;
        border-width:0;
        height:0.1rem;
    }
    #logo{
        display: flex;
        flex: 3;
        height: 80px;
        overflow: hidden;
        align-items: center;
        p {
            color: #FFE3C8;
            font-family: Italiana;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            span {
                font-weight: 700;
            }
        }
        #symbol-container {
            display: flex;
            flex-direction: row;
            align-items: center; 
            .line {
                height: 0.1rem;
                width: 2rem;
                background-color: #FFE3C8;
                margin: 0 0.5rem;
            }
            .dot {
                width: 1rem;
                height: 1rem;
                background-color: #FFE3C8;
                border-radius: 50%;
                margin: 0 0.5rem;
            }
        }
    }
}

.scroll {
    background-color: #4D6B6B; /* Set the desired background color */
  }

nav {
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: none; /* Initially hide the burger menu */
    .line {
        width: 30px;
        height: 3px;
        background-color: #F6C463;
        margin-bottom: 5px;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    flex: 2;
    list-style: none;
    .icon {
        display: none;
    }
}

#home {
    background-image: url("../img/home_background.png");
    overflow: hidden;
}


.nav-container-alt {
    @extend .nav-container;
    background-color: #F7F8F2;
    #logo{
        p {
            color: #4D6B6B;
            border-right: 0.1rem solid #4D6B6B;

        }
    }
    hr {
        background-color: #4D6B6B;
    }
    a {
        color: #4D6B6B;
    }
    .burger-menu {
        .line {
            background-color: #4D6B6B;
        }
    }
    .menu {
        background-color: #F7F8F2;
    }
}

.hero {
    width: 100%;
    padding: 2% 5% 0 5%;
    //min-height: 100vh;
    .hero-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        min-height: 90vh;
        padding-right: 5%;
        .hero-image {
            width: 70%;
            position: absolute;
            top: -38%;
            transform: translateX(72%);
            z-index: 1;
            img {
                transform: rotate(-8.313deg);
                opacity: 0.75;
            }
        }
        .text-overlay {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #FFE3C8;
            margin: auto 0 15vh 8rem;
            padding: 0 0 4rem 4rem;
            height: 350px;
            z-index: 2;
            h2 {
                text-shadow: 5px 4px 30px rgba(222, 171, 72, 0.20), 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Italiana;
                font-size: 6.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            hr {
                transform: translateX(-40%);
                border-color: #FFE3C8;
            }
            .hero-description {
                width: 50%;
                padding-top: 1rem;
                p {
                    text-shadow: 5px 4px 15px rgba(19, 50, 41, 0.56);
                    font-family: "Alegreya Sans";
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

// @media only screen and (max-width: 600px) {
//     h1 {
//         font-size: 4rem;
//     }
// }

/* Media queries */
@media (max-width: 768px) {
    .hero {
        .hero-container  {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-right: 5%;
            .text-overlay {
                position: relative;
                top: 0%;
                left: 0%;
                // color: #F6C463;
                padding: 0px;
                // text-align: left;
                transform: translate(-0%, -0%);
                width: 80%;
            }
            img {
                width: 100%;
                transform: scaleX(-1);
            }
            /* CSS rules for screens smaller than or equal to 768px */
        }
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        top: -100%;
        transform: translate(-0%, 0%);
        flex-direction: column;
        background-color: #4D6B6B;
        width: 100%;
        text-align: center;
        transition: 0.5s;
        box-shadow:
            0 10px 27px rgb(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
        top: 80px;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

// @media (max-width: 480px) {
//     .hero-container  {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;
//         width: 100%;
//         padding-right: 5%;
//         /* CSS rules for screens smaller than or equal to 480px */
//     }
// }