.projects-container {
    background: #f5f2f1;
}

#projects {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    h2 {
        color: black;
        animation: fade-in 1.4s;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .card {
            height: 400px;
            width: 300px;
            position: relative;
            background-color: #323232;
            border-radius: 2rem;
            margin: 3rem 3rem;
            overflow: hidden;
            justify-content: center;
            align-content: center;
            /* Add shadow to cards to increase contrast with white bg */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            /* On mouse-over, add a deeper shadow */
            .card-overlay {
                width: 80%;
                transition: .2s;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: white;
            }
            img {
                max-width: 100%;
                position: cover;
                transition: .5s ease;
            }
            /* On hover, increase shadow and decrease img opactity*/
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
                .card-overlay {
                    opacity: 1;
                }
                img {
                    opacity: 0.3;
                }
            }
        }
    }
}