/* Project home showcase */
#projects-showcase {
    padding: 0 2rem 0 1rem;
    .projects {
        display: flex;
        flex-direction: column;
        background-color: #F7F8F2;
        scroll-snap-align: start;
        padding: 6rem 0;
        .project-header {
            width: 100%;
            padding: 3rem 6rem;
            h3 {
                color: #4D6B59;
            }
            hr {
                background-color: #4D6B6B;
                border-width:0;
                height:0.1rem;
                margin-top: 1rem;
            }
            hr:first-of-type {
                transform: translateX(5%);
            }
            hr:nth-of-type(2) {
                transform: translateX(10%);
            }
        }
    }
}

.project-showcase-section {
    display: flex;
    flex-direction: row;
}

.project-showcase-section-title {
    writing-mode: vertical-rl;
    padding-top: 5rem;
    border-right: 1px solid #466767;
    width: 6rem;
    h3 {
        color: #496868;
        text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.10);
        font-family: Italiana;
        font-size: 5rem;
        font-weight: 400;
    }
}

.project-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;
    border-right: 1px solid #466767;
    width: 32.5rem;
    color: #466767;
}

.project-intro-index {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-top: 3rem;
    h4 {
        font-family: Italiana;
        font-size: 8rem;
        font-weight: 400;
    }
}

.project-showcase-section-content-container {
    display: flex;
    flex-direction: column;
}

.project-showcase-section-content-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    height: 830px;
    .last {
        padding-bottom: 5rem;
    }
}

.project-intro-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;
    h4 {
        font-family: "Alegreya Sans";
        font-size: 3rem;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    p {
        font-family: "Alegreya Sans";
        font-size: 1.5rem;
        font-weight: 500;
    }
    a {
        width: 80%;
        color: #466767;
        font-family: "Alegreya Sans";
        font-size: 1.75rem;
        font-weight: 800;
        border-bottom: 1px solid #466767;
    }
}

.project-cover {
    flex: 3;
    padding: 3rem 0 0 3rem;
    width: 65.75rem;
    a {
        display: flex;
        height: 100%;
        width: 100%;
        padding-left: 1.5rem;
        background: #A5E1FB;
        box-shadow: -2.964px 3.951px 17.386px 0px rgba(45, 68, 54, 0.25);
        img {
            display: inline;
            width: 100%;
        }
    }
}

.latest-project-section {
    display: flex;
    flex-direction: column;
    background-color: #477979;
    hr {
        transform: translateX(-4rem);
        border-color: #FFE3C8;
        width: 70rem;
        margin-left: auto;
    }
}

.latest-project-header-container {
    display: flex;
    flex-direction: row;
    h3 {
        text-align: right;
        flex-grow: 1;
        font-family: Italiana;
        font-size: 5rem;
        font-weight: 400;
        color: #FFE3C8;
        padding: 1rem 2rem 1rem 0;
    }
}
    
.latest-project-spacer {
    display: flex;
    border-right: 1px solid #FFE3C8;
    width: 6rem+32.5rem;
    justify-content: flex-end;
}

.latest-project-content-margin-right {
    margin-right: 2rem;
    border-right: 1px solid #FFE3C8;
    padding-left: auto;
}   

.latest-project-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1; 
}

.latest-project-cover-container {
    display: flex;
    flex-direction: column;
    a {
        margin-left: 4rem;
    }
    img {
        display: block;
        width: 65.75rem;
        transform: translateY(3rem);
        box-shadow: -3px 4px 17.600000381469727px 0px #2D443640;
        padding-right: 1.5rem;
        background-color: #DAFF9F;
    }
}

.latest-project-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;
    margin: 0 0 6rem auto;
    width: 32.5rem;
    color: #FFE3C8;
    a {
        color: #FFE3C8;
        border-bottom: 1px solid #FFE3C8;
    }

}

.hobby-section {
    display: flex;
    flex-direction: row;
    color: #466767;
}

.hobby-header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.gutter {
    width: 6rem;
    border-right: 1px solid #587776;
}

.column {
    .top-row {
        height: 6.25rem;
    }
    .btm-row {
        height: 4rem;
        border-top: 1px solid #587776;
    }
    .circle-container {
        position: relative;
        height: 6.25rem;
        width: 10rem;
        overflow: hidden;
        .circle {
            position: absolute;
            bottom: -6.25rem;
            left: -6.25rem;
            width: 12.5rem;
            height: 12.5rem;
            border-radius: 100%;
            border: 1px solid #A0B2AF;
        }
    }

}

.hobby-section-title {
    display: flex;
    flex-direction: row;
    .title-container {
        display: flex;
        align-items: center;
        height: 100%;
        .title {
            font-family: Italiana;
            font-size: 4rem;
            font-weight: 400;
            transform: translateY(1.1125rem);
        }
    }
}

.grow {
    flex-grow: 1;
}

// .gutter {
//     width: 6rem;
//     border-right: 1px solid #587776;
//     .top-row {
//         height: 6.25rem;
//     }
//     .btm-row {
//         height: 4rem;
//         border-top: 1px solid #587776;
//     }
// }

.hobby-header-item {
    width: 20rem;
}

.hobby-header-left-content {
    border-bottom: 1px solid #477979;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .card {
        flex: 1 0 0;
        position: relative;
        .card-img {
            .card-overlay {
                width: 100%;
                transition: .2s;
                opacity: 0;
                text-align: center;
                color: white;
                img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                    transition: .2s ease;
                    min-height: 400px;
                }
            }
         }
        /* On hover, increase shadow and decrease img opactity*/
        .card-content {
            //padding: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            padding: 20px;
            width: 100%;
          }
          &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
            .card-overlay {
                opacity: 1;
            }
            img {
                opacity: 0.7;
            }
        }
    }
    
}


/* Project pages */
.project-article {
    background-color: #F7F8F2;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 15rem 15%;
    color: #323232;
    width: 100%;
    color: #4D6B59;
    gap: 6rem;
    p {
        text-align: justify;
    }
    ol, ul {
        padding-left: 1.5em; /* Adjust the padding as needed */
        list-style-position: inside;
        li {
            list-style: none;
            display: flex;
          }
          
          li::before {
            content: "•";
            display: inline-block;
            width: 1em;
            margin-right: 0.5em;
          }
      }
}

.img-container {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.no-btm-padding {
    padding-bottom: 0;
}



.bi-image {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
    img {
        width: 50%;
    }
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    span {
        font-weight: bolder;
    }
}

.project-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    hr {
        background-color: #4D6B6B;
        border-width:0;
        height:0.1rem;
        transform: translateX(-80%);
    }
}

.contribution-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    .contribution-item {
        flex: 1;
    }
}

.collage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
  }

  .cell {
    height: 100%;
    img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
      
  }

@media (max-width: 480px) {
    .cards {
        flex-direction: column;
    }
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    height: 100%;
}

:root {
    --swiper-theme-color: #4D6B6B;
}

.persona-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1.5rem;
    border: 1px solid #4D6B59;
    padding: 2rem;
    background-color: #FAF8F1;
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.proto-container {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    .proto-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;    }
    img {
        flex: 1;    
        min-width: 0;
    }
}