/* Project home showcase */
#projects-showcase {
    //background: #F7F8F2;
    padding: 10vh 0;
    .projects {
        display: flex;
        flex-direction: column;
        background-color: #F7F8F2;
        scroll-snap-align: start;
        padding: 6rem 0;
        .project-header {
            width: 100%;
            padding: 3rem 6rem;
            h3 {
                color: #4D6B59;
            }
            hr {
                background-color: #4D6B6B;
                border-width:0;
                height:0.1rem;
                margin-top: 1rem;
            }
            hr:first-of-type {
                transform: translateX(5%);
            }
            hr:nth-of-type(2) {
                transform: translateX(10%);
            }
        }
    }
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .card {
        flex: 1 0 0;
        position: relative;
        .card-img {
            .card-overlay {
                width: 100%;
                transition: .2s;
                opacity: 0;
                text-align: center;
                color: white;
                img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                    transition: .2s ease;
                    min-height: 400px;
                }
            }
         }
        /* On hover, increase shadow and decrease img opactity*/
        .card-content {
            //padding: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            padding: 20px;
            width: 100%;
          }
          &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
            .card-overlay {
                opacity: 1;
            }
            img {
                opacity: 0.7;
            }
        }
    }
    
}


/* Project pages */
.project-article {
    background-color: #F7F8F2;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 15rem 15%;
    color: #323232;
    width: 100%;
    color: #4D6B59;
    gap: 6rem;
    p {
        text-align: justify;
    }
    ol, ul {
        padding-left: 1.5em; /* Adjust the padding as needed */
        list-style-position: inside;
        li {
            list-style: none;
            display: flex;
          }
          
          li::before {
            content: "•";
            display: inline-block;
            width: 1em;
            margin-right: 0.5em;
          }
      }
}

.img-container {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.no-btm-padding {
    padding-bottom: 0;
}



.bi-image {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
    img {
        width: 50%;
    }
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    span {
        font-weight: bolder;
    }
}

.project-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    hr {
        background-color: #4D6B6B;
        border-width:0;
        height:0.1rem;
        transform: translateX(-80%);
    }
}

.contribution-container {
    display: flex;
    flex-direction: row;
    .contribution-item {
        flex: 1;
    }
}

.collage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
  }

  .cell {
    height: 100%;
    img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
      
  }

@media (max-width: 480px) {
    .cards {
        flex-direction: column;
    }
}

.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    height: 100%;
  }

  :root {
    --swiper-theme-color: #4D6B6B;
    }