/* Project home showcase */
#projects-showcase {
    //background: #ECEEE3;
    padding: 10vh 0;
    .projects {
        display: flex;
        flex-direction: column;
        background-color: #ECEEE3;
        scroll-snap-align: start;
        padding: 6rem 0;
        .project-header {
            width: 100%;
            padding: 3rem 6rem;
            h3 {
                font-family: 'GFS Didot', serif;
                font-weight: 700;
                color: #4D6B59;
            }
        }
    }
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .card {
        flex: 1 0 0;
        position: relative;
        .card-img {
            .card-overlay {
                width: 100%;
                transition: .2s;
                opacity: 0;
                text-align: center;
                color: white;
                img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                    transition: .2s ease;
                    min-height: 400px;
                }
            }
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
                .card-overlay {
                    opacity: 1;
                }
                img {
                    opacity: 0.7;
                }
            }
         }
        /* On hover, increase shadow and decrease img opactity*/
        .card-content {
            //padding: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            padding: 20px;
            width: 100%;
          }
    }
}


/* Project pages */
.project-article {
    background-color: #ECEEE3;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 15rem 15%;
    color: #323232;
    width: 100%;
    color: #4D6B59;
    gap: 6rem;
    p {
        text-align: justify;
    }
    ol {
        padding-left: 1.5em; /* Adjust the padding as needed */
        list-style-position: inside;
        li {
            text-align: justify;
        }
      }
}

.img-container {
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0;
}

.no-btm-padding {
    padding-bottom: 0;
}



.bi-image {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 1;
    img {
        width: 50%;
    }
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    span {
        font-weight: bolder;
    }
}

.project-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

.contribution-container {
    display: flex;
    flex-direction: row;
    .contribution-item {
        flex: 1;
    }
}

// @media only screen and (max-width: 600px) {
//     #projects {
//         align-items: center;
//     }
// }

@media (max-width: 480px) {
    .cards {
        flex-direction: column;
    }
}