html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Franklin Gothic Medium';
}

h1 {
  font-size: 8rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2 {
  font-size: 6rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h3 {
  font-size: 3.5rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 1000;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

p {
  font-size: 2.5rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

a {
  font-size: 2rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #282a30;
  text-decoration: none;
}

section:before {
  height: 100px;
  content: "";
  display: block;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-bottom {
  opacity: 0;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  -webkit-transition: opacity 1s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 1s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 1s ease-in;
  transition: transform 0.3s ease-in, opacity 1s ease-in, -webkit-transform 0.3s ease-in;
}

.from-bottom.appear {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.from-left {
  -webkit-transform: translateX(-20rem);
          transform: translateX(-20rem);
}

.from-right {
  -webkit-transform: translateX(20rem);
          transform: translateX(20rem);
}

.from-left, .from-right {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 1s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 1s ease-in;
  transition: transform 0.3s ease-in, opacity 1s ease-in, -webkit-transform 0.3s ease-in;
}

.from-left.appear {
  opacity: 1;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.from-right.appear {
  opacity: 1;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

#home {
  background: #282a30;
}

#home::before {
  height: 0;
}

.nav-container {
  background: #f5f2f1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem, 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav ul .icon {
  display: none;
}

nav #logo {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 80px;
  overflow: hidden;
  color: black;
}

nav #logo img {
  height: 100%;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.showcase img {
  height: 200px;
}

.showcase .arrow-container {
  position: relative;
  margin-top: 3rem;
}

.showcase .arrow-container .arrow,
.showcase .arrow-container .arrow:before {
  position: absolute;
  left: 50%;
}

.showcase .arrow-container .arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #f5f2f1 solid;
  border-bottom: 2px #f5f2f1 solid;
}

.showcase .arrow-container .arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #f5f2f1 solid;
  border-bottom: 1px #f5f2f1 solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
}

/* Project home showcase */
.projects-showcase {
  background: #f5f2f1;
}

.projects-showcase #projects {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-showcase #projects h2 {
  color: #282a30;
}

.projects-showcase #projects .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-showcase #projects .cards .card {
  height: 400px;
  width: 300px;
  position: relative;
  background-color: #323232;
  border-radius: 2rem;
  margin: 3rem 3rem;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  /* Add shadow to cards to increase contrast with white bg */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* On mouse-over, add a deeper shadow */
  /* On hover, increase shadow and decrease img opactity*/
}

.projects-showcase #projects .cards .card .card-overlay {
  width: 80%;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.projects-showcase #projects .cards .card img {
  max-width: 100%;
  position: cover;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.projects-showcase #projects .cards .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.projects-showcase #projects .cards .card:hover .card-overlay {
  opacity: 1;
}

.projects-showcase #projects .cards .card:hover img {
  opacity: 0.3;
}

/* Project pages */
.project-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 5% 5%;
  color: #323232;
  width: 90%;
}

.project-article p {
  text-align: center;
}

.project-article .project-vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}

.project-article .project-vid iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-article .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.project-article .project-info::before {
  height: 0;
}

.project-article .project-info img {
  max-width: 100%;
}

#about {
  background: #323232;
  min-height: 90vh;
}

#about h2 {
  margin-left: 5%;
  margin-bottom: 32px;
}

#about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 5%;
}

#about .about-container .about-pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about .about-container p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: justify;
}

#contact {
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact h2 {
  color: #f5f2f1;
  margin-left: 5%;
  margin-bottom: 32px;
}

#contact::before {
  height: 0;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  text-align: justify;
  padding-bottom: 5rem;
}

.contact-container p {
  color: #f5f2f1;
  padding-bottom: 32px;
}

.contact-container button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-container button::after, .contact-container button::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.contact-container button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #282a30;
  border-right-color: #282a30;
}

.contact-container button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #282a30;
  border-left-color: #282a30;
}

.contact-container button:hover:after, .contact-container button:hover:before {
  width: 100%;
  height: 100%;
}

footer {
  min-height: 10vh;
  background: #f5f2f1;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

footer ul img {
  height: 24px;
}
/*# sourceMappingURL=style.css.map */