@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #F6C463;
  background-color: #4D6B6B;
  font-family: "Franklin Gothic Medium";
}

h1 {
  font-size: 8rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2 {
  font-size: 6rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h3 {
  font-size: 3.5rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 1000;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

p {
  font-size: 2.5rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
}

a {
  font-size: 2rem;
  font-family: quasimoda-2, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #F6C463;
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-bottom {
  opacity: 0;
  transform: translateY(40rem);
  transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.from-bottom.appear {
  opacity: 1;
  transform: translateY(0rem);
}

.from-left {
  transform: translateX(-20rem);
}

.from-right {
  transform: translateX(20rem);
}

.from-left, .from-right {
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.from-left.appear {
  opacity: 1;
  transform: translateX(0rem);
}

.from-right.appear {
  opacity: 1;
  transform: translateX(0rem);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}
#home::before {
  height: 0;
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  background-color: #4D6B6B;
}
.nav-container hr {
  background-color: #F6C463;
  width: 95%;
  margin: auto;
  border-width: 0;
  height: 0.1rem;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem, 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
  list-style: none;
}
nav ul .icon {
  display: none;
}
nav #logo {
  display: flex;
  flex: 4;
  height: 80px;
  overflow: hidden;
  align-items: center;
}
nav #logo p {
  font-size: 3rem;
  padding-right: 2rem;
  border-right: 0.1rem solid #F6C463;
  font-family: "Inter", sans-serif;
}
nav #logo p span {
  font-weight: 700;
}

.showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  text-align: center;
  padding-left: 30%;
  padding-top: 5%;
}
.showcase .container {
  position: relative;
  width: 100%;
  height: 70%;
}
.showcase img {
  width: 80%;
  transform: scaleX(-1);
}
.showcase .text-overlay {
  position: absolute;
  top: 80%;
  left: 20%;
  color: #F6C463;
  padding: 20px;
  text-align: left;
  transform: translate(-50%, -50%);
  width: 40%;
}
.showcase .text-overlay p {
  font-family: Didot;
  font-weight: 700;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
}
/* Project home showcase */
#projects-showcase {
  padding: 10vh 0;
}
#projects-showcase .projects {
  display: flex;
  flex-direction: column;
  background-color: #ECEEE3;
  scroll-snap-align: start;
  padding: 6rem 0;
}
#projects-showcase .projects .project-header {
  width: 100%;
  padding: 3rem 6rem;
}
#projects-showcase .projects .project-header h3 {
  font-family: "GFS Didot", serif;
  font-weight: 700;
  color: #4D6B59;
}
#projects-showcase .projects .cards {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#projects-showcase .projects .cards .card {
  overflow: hidden;
  flex: 1 0 0;
  position: relative;
  background-color: black;
  justify-content: center;
  align-content: center;
  min-width: 20rem;
  /* Add shadow to cards to increase contrast with white bg */
  /* On mouse-over, add a deeper shadow */
  /* On hover, increase shadow and decrease img opactity*/
}
#projects-showcase .projects .cards .card .card-overlay {
  width: 100%;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  text-align: center;
  color: white;
}
#projects-showcase .projects .cards .card .card-overlay img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: 0.5s ease;
}
#projects-showcase .projects .cards .card img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: 0.5s ease;
}
#projects-showcase .projects .cards .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
#projects-showcase .projects .cards .card:hover .card-overlay {
  opacity: 1;
}
#projects-showcase .projects .cards .card:hover img {
  opacity: 0.7;
}
#projects-showcase .projects .cards .card .card-content {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  width: 100%;
}

/* Project pages */
.project-article {
  display: flex;
  gap: 5rem;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 5% 5%;
  color: #323232;
  width: 90%;
}
.project-article p {
  text-align: center;
}
.project-article .project-vid {
  display: flex;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}
.project-article .project-vid iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.project-article .project-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-article .project-info::before {
  height: 0;
}
.project-article .project-info img {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  #projects {
    align-items: center;
  }
}
#about {
  display: flex;
  flex-direction: column;
  background: #282a30;
  min-height: 90vh;
}
#about h2 {
  margin-left: 5%;
  margin-bottom: 32px;
}
#about .about-container {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  gap: 10rem;
}
#about .about-container .about-pic {
  flex: 1;
}
#about .about-container .about-pic img {
  width: 100%;
}
#about .about-container p {
  flex: 2;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  #about {
    align-items: center;
  }
  .about-container {
    flex-direction: column !important;
    gap: 2rem !important;
  }
}
#contact {
  background: #282a30;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact h2 {
  color: #f5f2f1;
  margin-left: 5%;
  margin-bottom: 32px;
}
#contact::before {
  height: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  text-align: justify;
  padding-bottom: 5rem;
}
.contact-container p {
  color: #f5f2f1;
  padding-bottom: 32px;
}
.contact-container button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  align-self: center;
}
.contact-container button::after, .contact-container button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.contact-container button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #282a30;
  border-right-color: #282a30;
}
.contact-container button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #282a30;
  border-left-color: #282a30;
}
.contact-container button:hover:after, .contact-container button:hover:before {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #contact {
    align-items: center;
  }
}
footer {
  min-height: 25vh;
  background: #4D6B6B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  border: #FFD687 1px solid;
  padding: 4rem 8rem;
  text-align: center;
  gap: 2rem;
}
footer .footer-container p {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
}/*# sourceMappingURL=style.css.map */