html {
    font-size: 16px;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4D6B6B;
    overflow-x: hidden;
    position: relative;
}

h1{
    font-size: 8rem;
    font-family: Della Respira;
    font-weight: 500;
    font-style: normal;
}
h2 {
    font-size: 4.8rem;
    font-family: Della Respira;
    font-weight: 500;
    font-style: normal;
}
h3{
    font-size: 3.5rem;
    font-family: Avenir;
    font-weight: 500;
    font-style: normal;
}
h4{
    font-size: 3rem;
    font-family: Avenir;
    font-weight: 500;
    font-style: normal;
}
h5{
    font-size: 2.5rem;
    font-family: Avenir;
    font-weight: 500;
    font-style: normal;
}
p, li{
    font-size: 2.5rem;
    font-family: Avenir;
    font-weight: 400;
    font-style: normal;
}
a{
    font-family: "Alegreya Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-bottom {
    opacity: 0;
    transform: translateY(40rem);
    transition: transform 0.3s ease-in, opacity 0.5s ease-in;
}

.from-bottom.appear {
    opacity: 1;
    transform: translateY(0rem);
}

.from-left {
    transform: translateX(-20rem);
}

.from-right {
    transform: translateX(20rem);
}

.from-left, .from-right {
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.from-left.appear {
    opacity: 1;
    transform: translateX(0rem);
}

.from-right.appear {
    opacity: 1;
    transform: translateX(0rem);
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
    a{
        font-size: 1.5rem;
    }
}

@import "home";
@import "projects";
@import "about";
@import "contact";
@import "footer";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Della+Respira&family=Italiana&display=swap');