@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4D6B6B;
  font-family: "Franklin Gothic Medium";
  overflow-x: hidden;
}

h1 {
  font-size: 8rem;
  font-family: Avenir;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-size: 4.8rem;
  font-family: Della Respira;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 3.5rem;
  font-family: Avenir;
  font-weight: 500;
  font-style: normal;
}

h4 {
  font-size: 3rem;
  font-family: Avenir;
  font-weight: 500;
  font-style: normal;
}

p, li {
  font-size: 2.5rem;
  font-family: Avenir;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 2rem;
  font-family: Avenir;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-bottom {
  opacity: 0;
  transform: translateY(40rem);
  transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.from-bottom.appear {
  opacity: 1;
  transform: translateY(0rem);
}

.from-left {
  transform: translateX(-20rem);
}

.from-right {
  transform: translateX(20rem);
}

.from-left, .from-right {
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.from-left.appear {
  opacity: 1;
  transform: translateX(0rem);
}

.from-right.appear {
  opacity: 1;
  transform: translateX(0rem);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1.5rem;
  }
}
#home::before {
  height: 0;
}

.nav-container, .nav-container-alt {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  background-color: #4D6B6B;
}
.nav-container a, .nav-container-alt a {
  color: #F6C463;
}
.nav-container hr, .nav-container-alt hr {
  background-color: #F6C463;
  width: 95%;
  margin: auto;
  border-width: 0;
  height: 0.1rem;
}
.nav-container #logo, .nav-container-alt #logo {
  display: flex;
  flex: 3;
  height: 80px;
  overflow: hidden;
  align-items: center;
}
.nav-container #logo p, .nav-container-alt #logo p {
  color: #F6C463;
  font-size: 2.2rem;
  padding-right: 2rem;
  border-right: 0.1rem solid #F6C463;
}
.nav-container #logo p span, .nav-container-alt #logo p span {
  font-weight: 700;
}

nav {
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: none; /* Initially hide the burger menu */
}
.burger-menu .line {
  width: 30px;
  height: 3px;
  background-color: #F6C463;
  margin-bottom: 5px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  flex: 2;
  list-style: none;
}
.menu .icon {
  display: none;
}

.nav-container-alt {
  background-color: #ECEEE3;
}
.nav-container-alt #logo p {
  color: #4D6B6B;
  border-right: 0.1rem solid #4D6B6B;
}
.nav-container-alt hr {
  background-color: #4D6B6B;
}
.nav-container-alt a {
  color: #4D6B6B;
}
.nav-container-alt .burger-menu .line {
  background-color: #4D6B6B;
}

.hero {
  width: 100%;
  padding: 2% 5% 0 5%;
  min-height: 90vh;
}
.hero .hero-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-right: 5%;
}
.hero .hero-container img {
  width: 60%;
  transform: scaleX(-1);
}
.hero .hero-container .text-overlay {
  position: absolute;
  top: 80%;
  left: 5%;
  color: #F6C463;
  padding: 20px;
  text-align: left;
  transform: translate(0%, -50%);
  width: 40%;
}
.hero .hero-container .text-overlay p {
  font-family: Didot;
  font-weight: 700;
  font-size: 3rem;
}

/* Media queries */
@media (max-width: 768px) {
  .hero .hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 5%;
    /* CSS rules for screens smaller than or equal to 768px */
  }
  .hero .hero-container .text-overlay {
    position: relative;
    top: 0%;
    left: 0%;
    padding: 0px;
    transform: translate(0%, 0%);
    width: 80%;
  }
  .hero .hero-container img {
    width: 100%;
    transform: scaleX(-1);
  }
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  .menu {
    position: fixed;
    top: -100%;
    transform: translate(0%, 0%);
    flex-direction: column;
    background-color: #4D6B6B;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0;
    top: 80px;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .burger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* Project home showcase */
#projects-showcase {
  padding: 10vh 0;
}
#projects-showcase .projects {
  display: flex;
  flex-direction: column;
  background-color: #ECEEE3;
  scroll-snap-align: start;
  padding: 6rem 0;
}
#projects-showcase .projects .project-header {
  width: 100%;
  padding: 3rem 6rem;
}
#projects-showcase .projects .project-header h3 {
  font-family: "GFS Didot", serif;
  font-weight: 700;
  color: #4D6B59;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.cards .card {
  flex: 1 0 0;
  position: relative;
  /* On hover, increase shadow and decrease img opactity*/
}
.cards .card .card-img .card-overlay {
  width: 100%;
  transition: 0.2s;
  opacity: 0;
  text-align: center;
  color: white;
}
.cards .card .card-img .card-overlay img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: 0.5s ease;
  min-height: 400px;
}
.cards .card .card-img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.cards .card .card-img:hover .card-overlay {
  opacity: 1;
}
.cards .card .card-img:hover img {
  opacity: 0.7;
}
.cards .card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  width: 100%;
}

/* Project pages */
.project-article {
  background-color: #ECEEE3;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 15rem 15%;
  color: #323232;
  width: 100%;
  color: #4D6B59;
  gap: 6rem;
}
.project-article p {
  text-align: justify;
}
.project-article ol {
  padding-left: 1.5em; /* Adjust the padding as needed */
  list-style-position: inside;
}
.project-article ol li {
  text-align: justify;
}

.img-container {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.no-btm-padding {
  padding-bottom: 0;
}

.bi-image {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex: 1;
}
.bi-image img {
  width: 50%;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.project-section span {
  font-weight: bolder;
}

.project-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.contribution-container {
  display: flex;
  flex-direction: row;
}
.contribution-container .contribution-item {
  flex: 1;
}

@media (max-width: 480px) {
  .cards {
    flex-direction: column;
  }
}
.portrait-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.portrait-container .portrait-description {
  flex: 1 1 0;
}

.portrait {
  flex: 1 1 0;
  min-width: 0;
}
.portrait img {
  min-width: 0;
  width: 100%;
}

#contact {
  background: #282a30;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact h2 {
  color: #f5f2f1;
  margin-left: 5%;
  margin-bottom: 32px;
}
#contact::before {
  height: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  text-align: justify;
  padding-bottom: 5rem;
}
.contact-container p {
  color: #f5f2f1;
  padding-bottom: 32px;
}
.contact-container button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  align-self: center;
}
.contact-container button::after, .contact-container button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.contact-container button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #282a30;
  border-right-color: #282a30;
}
.contact-container button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #282a30;
  border-left-color: #282a30;
}
.contact-container button:hover:after, .contact-container button:hover:before {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #contact {
    align-items: center;
  }
}
footer {
  min-height: 25vh;
  background: #4D6B6B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  border: #FFD687 1px solid;
  padding: 4rem 8rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
footer .footer-container p {
  color: #FFD687;
  font-family: "Inter", sans-serif;
}
footer .footer-container h3 {
  color: #FFD687;
}
footer .footer-container img {
  width: 300px;
}

/* Media queries */
@media (max-width: 768px) {
  footer .footer-container {
    padding: 0rem 0rem; /* Adjust padding for smaller screens */
  }
}
@media (max-width: 480px) {
  footer .footer-container {
    padding: 1rem 2rem; /* Adjust padding for even smaller screens */
  }
}/*# sourceMappingURL=style.css.map */