html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #F6C463;
    background-color: #4D6B6B;
    font-family: 'Franklin Gothic Medium';
}
h1{
    font-size: 8rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
h2 {
    font-size: 6rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
h3{
    font-size: 3.5rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 1000;
    font-style: normal;
}
h4{
    font-size: 2rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
p{
    font-size: 2.5rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
a{
    font-size: 2rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #F6C463;
    text-decoration: none;
}

// section:before {
//     height: 100px;
//     content: "";
//     display:block;
// }

.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-bottom {
    opacity: 0;
    transform: translateY(40rem);
    transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.from-bottom.appear {
    opacity: 1;
    transform: translateY(0rem);
}

.from-left {
    transform: translateX(-20rem);
}

.from-right {
    transform: translateX(20rem);
}

.from-left, .from-right {
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 1s ease-in;
}

.from-left.appear {
    opacity: 1;
    transform: translateX(0rem);
}

.from-right.appear {
    opacity: 1;
    transform: translateX(0rem);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
}

@import "home";
@import "projects";
@import "about";
@import "contact";
@import "footer";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

