html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    color: white;
    font-family: 'Franklin Gothic Medium';
}
h1{
    font-size: 8rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
h2 {
    font-size: 6rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
h3{
    font-size: 3.5rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 1000;
    font-style: normal;
}
h4{
    font-size: 2rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
p{
    font-size: 2.5rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
}
a{
    font-size: 2rem;
    font-family: quasimoda-2, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #282a30;
    text-decoration: none;
}

section:before {
    height: 85px;
    content: "";
    display:block;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

@import "home";
@import "projects";
@import "about";
@import "contact";
@import "footer";